* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: URL("../images/crossline-lines.png"), #000;
    font-size: 18px;
}

#wrapper {
    margin: 20px;
}

h1 {
    background: #000;
    color: #fff;
    padding: 20px;
    width: 25%;
    text-align: center;
    font-size: 36px;
}

#instruction-box {
    font-size: 18px;
    line-height: 27px;
    width: 50%;
    height: 280px;
    background: #CCCC00;
    color: #004225;
    margin-top: 15px;
    justify-content: left;
    padding: 10px;
}

#randomnumber-box {
    width: 20%;
    float: left;
    background: green;
    margin-right: 15px;
    margin-top: 15px;
    font-size: 36px;
    height: 100px;
    padding: 20px;
    justify-content: left;
}

.winlose-box {
    float: left;
    width: 15%;
    background: khaki;
    margin-top: 15px;
    font-size: 18px;
    height: 100px;
    padding: 20px;

}

#stone-box {
    clear: both;
    margin-top: 15px;
    width: 50%;
}

.stones>img {
    height: 150px;
    width: 150px;
    margin: 10px;
}