* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: URL("../images/crossline-lines.png");
    font-size: 18px;
}

#wrapper {
    margin: 20px;
    width: auto;
}

h1 {
    background: #000;
    color: #fff;
    padding: 20px;
    width: 400px;
    text-align: center;
    font-size: 36px;
}

#instruction-box {
    font-size: 18px;
    line-height: 27px;
    width: 50%;
    height: 280px;
    background: #CCCC00;
    color: #004225;
    margin-top: 15px;
    justify-content: left;
    padding: 10px;
    overflow: auto;
}

#randomnumber-box {
    width: 20%;
    float: left;
    background: green;
    margin-right: 15px;
    margin-top: 15px;
    font-size: 36px;
    height: 120px;
    padding: 20px;
    justify-content: left;
    margin-bottom: 15px;
}

.winlose-box {
    float: left;
    width: 15%;
    background: khaki;
    margin-top: 15px;
    height: 120px;
    padding: 20px;
    margin-bottom: 15px;
    line-height: 27px;
}

#stone-box {
    clear: both;
    width: 50%;
    background: #fff;
}

.stones {
    clear: both;
    height: 180px;
    width: 150px;
    margin: 0px 20px;
}

#totalscore-box {
    width: 400px;
    padding: 20px;
    background: #50c878;
    color: #fff;
    margin-top: 15px;
}

#score-box {
    width: 400px;
    background: #50c878;
    color: #fff;
    margin-top: 15px;
    font-size: 36px;
    height: 100px;
    padding: 20px;
    justify-content: left;
}